@model UserProfileDto

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Hesap Ayarları /</span> Hesap</h4>

    <div class="row">
        <div class="col-md-12">

            <div class="card mb-4">
                <h5 class="card-header">Profil Detayları</h5>
                <form asp-controller="User" asp-action="Profile" method="post" enctype="multipart/form-data">
                <div class="card-body">

                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="~/images/@Model.Image.FileName"
                             alt="kullanıcı-avatarı"
                             class="d-block rounded"
                             height="100"
                             width="100"
                             id="uploadedAvatar" />
                        <div class="button-wrapper">
                            <label  class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Yeni fotoğraf yükle</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input asp-for="Photo" type="file" accept="image/*" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                            </label>


                        </div>
                    </div>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label asp-for="FirstName" class="form-label">Ad</label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="LastName" class="form-label">Soyad</label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="mb-3 col-md-6">
                                <label asp-for="PhoneNumber" class="form-label">Telefon Numaranız</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">TR</span>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                </div>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Email" class="form-label">E-posta</label>
                                <input asp-for="Email" class="form-control" readonly />
                            </div>

                            <div class="mb-3 col-md-6">
                                <label asp-for="CurrentPassword" class="form-label">Şifreniz</label>
                                <input asp-for="CurrentPassword" type="password" class="form-control" />
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="NewPassword" class="form-label">Yeni Şifre</label>
                                <input asp-for="NewPassword" type="password" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Değişiklikleri Kaydet</button>
                            <button type="reset" class="btn btn-outline-secondary">İptal</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
