@{
    Layout = null;
}
@model UserLoginDto
<!DOCTYPE html>
<html lang="tr" class="light-style layout-wide customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="~/sneat/assets/" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- Favicon -->
    <!-- Fontlar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Stil dosyaları -->
    <link rel="stylesheet" href="~/sneat/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/sneat/assets/css/demo.css" />

    <!-- Ek CSS -->
    <link rel="stylesheet" href="~/sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/css/pages/page-auth.css">

    <!-- Yardımcı scriptler -->
    <script src="~/sneat/assets/vendor/js/helpers.js"></script>
    <script src="~/sneat/assets/js/config.js"></script>

</head>

<body>

    <!-- İçerik -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Giriş -->
                <div class="card">
                    <div class="card-body">
                        <!-- Başlık -->
                        <div class="mb-3">
                            <h4 class="text-center">Giriş Yap</h4>
                        </div>

                        <!-- Giriş Formu -->
                        <form asp-controller="Auth" asp-action="Login" id="formAuthentication" class="mb-3" method="post">
                            <div class="mb-3">
                                <label asp-for="Email" for="email" class="form-label">Email</label>
                                <input type="email" asp-for="Email" class="form-control" id="email" name="Email" placeholder="E-postanızı girin" required />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label" for="password">Şifre</label>
                                <input type="password" class="form-control" id="password" name="Password" placeholder="Şifrenizi girin" required />
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary d-grid w-100">Giriş Yap</button>
                            </div>
                        </form>

                        <!-- Şifre unuttum -->
                      
                    </div>
                </div>
                <!-- Giriş Sonu -->
            </div>
        </div>
    </div>

</body>
</html>
